* {
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

hr {
  width: 100%;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name , #input-lastname , #input-email , #house {
  width: 40%;
}

#input-lastname {
  margin-left: 30px;
}

#house {
  margin-left: 30px;
}

#radio-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#div-checkbox {
  display: flex;
  flex-wrap: wrap;
}

#check-container {
  width: 40%;
  display: flex;
  margin-left: 35px;
}

#input-radio {
  width: 200px;
}

#family-container {
  display: flex;
}

#txt-comment {
  width: 100%;
  resize: none;
}

footer {
  display: flex;
  justify-content: center;
}