* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: radal, sans-serif;
}

@font-face {
  font-family: radal;
  src: url('./libs/radal.ttf');
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 109px;
}

header img {
  width: 100px;
  margin-left: 2%;
}

header .trybewarts-login {
  display: flex;
  margin-right: 2%;
}

header input {
  margin: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  border: solid white;
}

header button {
  padding: 0 20px;
  height: 34px;
  background-color: purple;
  border-radius: 5px;
  border: solid purple;
  color: white;
}

header form {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: xxx-large;
}

main {
  display: flex;
  justify-content: center;
  margin: 40px 60px;
}

main #form-data {
  display: none;
  width: 400px;
}

main #trybewarts-forms-logo {
  align-self: center;
  height: 500px;
}

main h1 {
  align-self: center;
  margin-bottom: 30px;
}

main #h1-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

main hr {
  width: 100%;
  height: 3px;
  background-color: grey;
  margin-bottom: 10px;
}

main #first-hr {
  margin-top: 20px;
}

main .section {
  margin-bottom: 15px;
}

main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main .input-default {
  width: 47%;
  height: 30px;
  border-radius: 5px;
  border: solid purple 2px;
}


main #input-lastname {
  margin-left: 30px;
}

main #house {
  margin-left: 30px;
}

main #radio-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

main #label-family {
  font-size: 18px;
}

main #label-content {
  font-size: 18px;
}

main #label-rate {
  font-size: 18px;
}

main #label-infos {
  font-size: 18px;
}

main .textarea {
  font-size: 18px;
}

main #section-infos {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}

main #div-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
}

main #div-checkbox div {
  margin-top: 20px;
}

main #check-container {
  width: 40%;
  display: flex;
  margin-left: 100px;
}

main #input-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 136px;
}

main #evaluation {
  display: flex;
  justify-content: space-between;
  width: 670px;
}

main #family-container {
  display: flex;
}

main #textarea {
  width: 100%;
  resize: none;
}

main #counter {
  position: absolute;
  top: 655px;
  left: 710px;
}

main #submit-btn {
  padding: 10px;
  border-radius: 5px;
  border: solid purple;
  background-color: purple;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(60, 64, 74);
  color: white;
}
